.topbar-container {
  width: 100%;
  background-color: var(--main-color);
  color: var(--text-color) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0% !important;
  border-radius: 2px solid var(--main-color);
  padding: 10px;
}
.phone-number {
}
.access-container {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between;

  margin-top: 0.5rem;
}
.access-container li {
  list-style: none;
}
.access-container li a {
  text-decoration: none;
  color: var(--text-color) !important;
}
