.product-info {
  color: var(--main-color);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: end;
}
.product-info-item {
  margin: 0.7rem 0;
}
.products {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: space-evenly;

  padding: 3rem;
}
