@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: #27374d;
  --main-color-light: #526d82;
  --shadow-color: #9db2bf;
  --text-color: #a0bace;
}
@font-face {
  font-family: IranSans;
  src: url("./fonts//IRANSans/IRANSans_Black.ttf");
}
* {
  font-family: IranSans, sans-serif;
}
