.section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  text-align: center;
}
.section-items {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0.5rem;
  cursor: pointer;
}
.active-link {
  border-bottom: 4px solid var(--main-color);
}
